# Firebase
.firebase/
.firebaserc
firebase-debug.log
firebase-debug.*.log
*-debug.log

# Firebase Service Account (se presente)
*-firebase-adminsdk-*.json
serviceAccountKey.json

# Functions
functions/node_modules/
functions/.eslintrc.js
functions/lib/

# Environment variables
.env
.env.local
.env.*.local